<h4>Formulario <small>template</small> </h4>
<hr>

<form  novalidate="">
    <div>


    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">
          <input class="form-control" type="text" placeholder="Nombre"
           name="nombre" ngModel required>
      </div>
   </div>

   <div class="form-group row">
     <label class="col-2 col-form-label">Apellidos</label>
     <div class="col-8">
         <input class="form-control" type="text" placeholder="Apellidos"
         name="apellido" ngModel>
     </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-8">
        <input class="form-control" type="email" placeholder="Correo electronico"
        name="correo" ngModel>
    </div>
 </div>

 <div class="form-group row">
   <label class="col-2 col-form-label">&nbsp;</label>
   <div class="col-8">
       <button type="submit" class="btn btn-outline-primary">Guardar</button>
   </div>
    </div>
</div>
</form>
